# Ignore coverage report
tests/coverage/*

# Ignore composer related files
/composer.lock
/vendor
build/ghpages/composer.lock
build/ghpages/vendor

# Ignore local overrides of the PHPCS config file.
.phpcs.xml
phpcs.xml

# Ignore PHPUnit results cache file.
.phpunit.result.cache

# Ignore temporary files for ghpages builds.
phpdoc.xml
build/ghpages/.phpdoc
build/ghpages/artifacts

# Ignore temporary files for certificate downloads.
certificates/etag-*.txt
