# Source file or directory to parse
source: '../library'
# Directory where to save the generated documentation
destination: './api/'
# Mask to exclude file or directory from processing
exclude: []
# Don't generate documentation for classes from file or directory with this mask
skipDocPath: ''
# Character set of source files
charset: ['UTF-8']
# Main project name prefix
main: 'Requests'

# Title of generated documentation
title: 'Requests 1.7 API Documentation'
# Documentation base URL
baseUrl: ''
#templateConfig: 'F:\Projects\PHP\ApiGen\templates\simplepie\config.neon'
# Google Custom Search ID
googleCseId: ''
# Google Analytics tracking code
googleAnalytics: ''

# Generate documentation for methods and properties with given access level
accessLevels: [public, protected]
# Generate documentation for elements marked as internal and display internal documentation parts
internal: Yes
# Generate documentation for PHP internal classes
php: No
# Generate tree view of classes, interfaces and exceptions
tree: Yes
# Generate documentation for deprecated classes, methods, properties and constants
deprecated: Yes
# Generate documentation of tasks
todo: No
# Generate highlighted source code files
sourceCode: Yes
# Add a link to download documentation as a ZIP archive
download: No

# Don't display scaning and generating messages
quiet: No
# Display additional information in case of an error
debug: No
