<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
	backupGlobals="true"
	bootstrap="bootstrap.php"
	colors="true"
	verbose="true"
	>
	<testsuites>
		<testsuite name="Authentication">
			<directory suffix=".php">Auth</directory>
		</testsuite>
		<testsuite name="Transports">
			<directory suffix=".php">Transport</directory>
		</testsuite>
		<testsuite name="Proxies">
			<directory suffix=".php">Proxy</directory>
		</testsuite>
		<testsuite name="General">
			<file>ChunkedEncoding.php</file>
			<file>Cookies.php</file>
			<file>Encoding.php</file>
			<file>IDNAEncoder.php</file>
			<file>IRI.php</file>
			<file>Requests.php</file>
			<file>Response/Headers.php</file>
			<file>Session.php</file>
			<file>SSL.php</file>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-html" target="coverage" lowUpperBound="35" highLowerBound="90"/>
	</logging>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../library</directory>
		</whitelist>
	</filter>
</phpunit>
