<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A HTTP request library written for human beings">
		<meta name="author" content="Ryan McCue">

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link href="{{ site.baseurl }}assets/css/requests.css" rel="stylesheet">
		<link href="{{ site.baseurl }}assets/css/syntax.css" rel="stylesheet">
	</head>

	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<a href="/" rel="home" class="brand">Requests for PHP</a>
				<ul class="nav">
					<li><a href="/">About</a></li>
					<li><a href="/download/">Download</a></li>
					<li><a href="/docs/">Documentation</a></li>
					<li><a href="/support/">Support</a></li>
					<li class="divider-vertical"></li>
					<li><a href="https://github.com/rmccue/Requests">Contribute</a></li>
					<li><a href="https://travis-ci.org/rmccue/Requests">Tests</a></li>
					<li><a href="https://codecov.io/github/rmccue/Requests?branch=master">Coverage</a></li>
				</ul>
			</div>
		</div>