<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A HTTP request library written for human beings">
		<meta name="author" content="Ryan McCue">

		<link href="{{ '/assets/css/requests.css' | prepend: site.baseurl }}" rel="stylesheet">
		<link href="{{ '/assets/css/syntax.css' | prepend: site.baseurl }}" rel="stylesheet">
	</head>

	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<a href="{{ '/' | prepend: site.baseurl }}" rel="home" class="brand">Requests for PHP</a>
				<ul class="nav">
					<li><a href="{{ '/' | prepend: site.baseurl }}">About</a></li>
					<li><a href="{{ '/download/' | prepend: site.baseurl }}">Download</a></li>
					<li><a href="{{ '/docs/' | prepend: site.baseurl }}">Documentation</a></li>
					<li><a href="{{ '/api/' | prepend: site.baseurl }}">API Docs</a></li>
					<li><a href="{{ '/support/' | prepend: site.baseurl }}">Support</a></li>
					<li class="divider-vertical"></li>
					<li><a href="{{ site.github.repository_url }}">Contribute</a></li>
					<li><a href="{{ site.requests.ci_tests_url }}">Tests</a></li>
					<li><a href="{{ site.requests.ci_codecov_url }}">Coverage</a></li>
				</ul>
			</div>
		</div>