* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}
html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro';
	border-bottom: 1px solid #EEEEEE;
	margin: 36px 0 18px;
	padding-bottom: 4px;
}

h1 {
	font-size: 2.75rem;
}
h2 {
	font-size: 2.25rem;
}
h3 {
	font-size: 1.75rem;
}

p {
	margin-top: 0;
	margin-bottom: 18px;
	line-height: 1.6;
}

ul, ol {
	padding: 0;
	margin: 0 0 0.7rem 1.75rem;
}

a {
	text-decoration: none;
	color: $color-link;

	&:hover, &:focus {
		color: darken($color-link, 5%);
		text-decoration: underline;
	}
}

code, pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333;
}

pre {
	border-radius: 3px;

	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
	line-height: 1.6;

	margin: 0 0 0.7rem;
	padding: 1.15rem;
}
