.navbar {
	.navbar-inner {
		display: flex;
		align-items: center;
		max-width: 1140px;
		margin: 0 auto;

		box-sizing: content-box;
		padding: 1.2rem 1.4rem;

		@media (max-width: $break-small) {
			flex-wrap: wrap;
			justify-content: center;

			.brand {
				text-align: center;
				margin-bottom: 0.2em;
			}
		}

		> .brand {
			flex-grow: 1;
		}
	}

	.nav {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;

		@media (max-width: $break-small) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

#content {
	margin: {
		top: 1.2rem;
		bottom: 1.2rem;
	}

	padding: 1.15rem 15%;

	@media (max-width: $break-large) {
		padding-left: 5%;
		padding-right: 5%;
	}

	&.has-sidebar {
		padding: {
			left: 0;
			right: 0;
		}
		display: flex;

		.sidebar {
			flex-grow: 0;
			width: 20%;
			min-width: 18em;
			padding-left: 2%;
			padding-right: 2%;
		}
		.main {
			flex-grow: 1;
			padding-right: 5%;
		}

		@media (max-width: $break-medium) {
			.sidebar {
				font-size: 0.9em;
			}
		}

		@media (max-width: $break-small) {
			display: block;
			padding: {
				left: 1em;
				right: 1em;
			}

			.sidebar {
				display: none;
			}
		}
	}

	> h1:first-child, > .main > h1:first-child {
		margin-top: 0;
	}

	.sidebar {
		> ul {
			list-style-type: none;
			margin-left: 0;

			position: sticky;
			top: 1em;

			> li {
				font-weight: bold;
			}

			> li > ul {
				font-weight: normal;
				list-style-type: none;
				margin-left: 0;
			}
		}
	}
}

#content, #page-footer {
	width: 1170px;
	margin: {
		left: auto;
		right: auto;
	}

	@media (max-width: $break-large) {
		width: 960px;
	}
	@media (max-width: $break-medium) {
		width: 100%;
	}
}

#page-footer {
	display: flex;
	justify-content: space-between;

	padding: 1.2rem 0;

	@media (max-width: $break-medium) {
		padding-left: 5%;
		padding-right: 5%;
	}
}
