#masthead {
	padding: 40px 0;
	margin-bottom: 30px;
	background-color: $color-brand;
	color: #ddd;
	text-align: center;

	line-height: 1.5;

	h1 {
		font-family: 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro';
		font-size: 4em;
		line-height: 1;
		letter-spacing: -1px;
		color: #fff;
		border-bottom: none;
	}
	strong {
		color: #eee;
	}
	p {
		font-size: 1.3em;
		font-weight: 200;
	}
	pre {
		font-size: 1.15em;
		line-height: inherit;
		display: inline-block;
		padding: 20px 14px;

		word-break: keep-all;
	}
	code {
		font-size: 1em;
	}
	a {
		color: #fff;
	}
	.btn {
		padding: 0.65em 1em;
		font-size: 1.35em;
		border: 0;
		color: #fff;
		-webkit-border-radius: 6px;
		   -moz-border-radius: 6px;
		        border-radius: 6px;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		        box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		/*-webkit-transition: none;
		   -moz-transition: none;
		        transition: none;*/
	}
	@media (max-width: $break-small) {
		font-size: 0.8em;

		h1 {
			display: none;
		}

		p {
			padding: {
				left: 1em;
				right: 1em;
			}
		}

		pre {
			width: 100%;
			border-radius: 0;
		}
	}

}
