body {
	background: #eee;
	padding-top: 94px;
}
.navbar {
	box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}
	.navbar-inner {
		background: #006DCC;
		padding-top: 18px;
		padding-bottom: 18px;
		border: none;
	}
	.navbar .brand {
		font-family: 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro';
		font-style: italic;
		font-size: 30px;
		color: #fff;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	}
	.navbar .nav > li {
		margin-bottom: 0;
	}
	.navbar .nav > li > a {
		color: #eee;
		line-height: 26px;
		padding: 11px 10px 12px;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	}
		.navbar .nav > li > a:hover {
			background: #08f;
			color: #fff;
		}
	.navbar .divider-vertical {
		border-left-color:  rgba(255, 255, 255, 0.3);
		border-right-color: rgba(255, 255, 255, 0.2);
		height: 56px;
	}
body > .container {
	margin-top: 18px;
	margin-bottom: 18px;
	padding: 16px 0;
	/*padding-top: 36px;*/
	background: #fff;
	border: 1px solid #ccc;
}
#masthead {
	padding: 60px 0;
	margin-bottom: 30px;
	background-color: #006DCC;
	color: #fff;
	/*-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;*/
	text-align: center;
}
	#masthead h1 {
		font-size: 60px;
		line-height: 1;
		letter-spacing: -1px;
		color: #fff;
		border-bottom: none;
	}
	#masthead p {
		font-size: 18px;
		font-weight: 200;
		line-height: 27px;
	}
	#masthead pre {
		font-size: 16px;
		line-height: 24px;
		display: inline-block;
		padding: 20px 14px;
	}
	#masthead code {
		font-size: 17px;
	}
	#masthead a {
		color: #fff;
	}
	#masthead .btn {
		padding: 19px 24px;
		font-size: 24px;
		border: 0;
		color: #fff;
		-webkit-border-radius: 6px;
		   -moz-border-radius: 6px;
		        border-radius: 6px;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		        box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		/*-webkit-transition: none;
		   -moz-transition: none;
		        transition: none;*/
	}

.aux-links {
	margin: 0;
	list-style: none;
}
	.aux-links li {
		display: inline;
		padding: 0 10px;
		color: rgba(255,255,255,.75);
	}

#watch {
	float: right;
	margin-top: 3px;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom: 1px solid #EEEEEE;
	margin: 18px 0;
	padding-bottom: 4px;
}

p {
	margin-bottom: 18px;
	line-height: 1.6;
}

li {
	margin-bottom: 9px;
}
	.linenums li {
		margin-bottom: 4.5px;
	}
	li ul {
		margin-top: 9px;
	}

pre code {
	border: none;
	color: #333;
}

pre {
	background-color: #f7f7f9;
}

.footer {
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #e5e5e5;
}
	.footer.container {
		background: transparent;
		border: none;
	}
.footer p {
	margin-bottom: 0;
	color: #555;
}

@media (max-width: 480px) {
	.github {
		display: none;
	}

	body {
		padding-top: 15px;
	}

	#masthead {
		padding: 10px 0;
	}

	#masthead h1 {
		font-size: 24px;
	}
}