---
---
@import "variables";
@import "base";
@import "layout";
@import "buttons";

body {
	background: #fafafa;
}

@import "header";

#content {
	background: #fff;
	border: 1px solid #eee;
}

@import "masthead";

.aux-links {
	margin: 0;
	list-style: none;
}
	.aux-links li {
		display: inline;
		padding: 0 10px;
		color: rgba(255,255,255,.75);
	}

#watch {
	float: right;
	margin-top: 3px;
}

li {
	margin-bottom: 9px;
}
	.linenums li {
		margin-bottom: 4.5px;
	}
	li ul {
		margin-top: 9px;
	}

pre code {
	border: none;
	color: #333;
}

pre {
	background-color: #F7F7F7;
}
@import "syntax";

#page-footer {
	p {
		margin-bottom: 0;
		color: #555;
	}
}

@media (max-width: 480px) {
	.github {
		display: none;
	}

	#masthead {
		padding: 10px 0;
	}

	#masthead h1 {
		font-size: 24px;
	}
}