{% include header.html %}

		<div id="masthead">
			<h1>Requests for PHP</h1>
			<p>A <strong>humble HTTP request library</strong>. Simplify how
				you interact with other sites and leave your worries behind.</p>

			{% highlight php %}Requests::get('http://api.github.com/', array('Accept' => 'application/json'));{% endhighlight %}

			<p>Never touch cURL again.</p>

			<p>
				<a href="{{ site.github.latest_release.zipball_url }}" class="btn btn-large btn-success">Download Now</a>
			</p>
			<ul class="aux-links">
				<li>Version {{ site.github.latest_release.tag_name }}</li>
				<li><a href="{{ '/download/' | prepend: site.baseurl }}">Previous Versions</a></li>
			</ul>

			<p>
				<a href="{{ site.requests.ci_tests_url }}"><img src="{{ site.requests.ci_tests_img }}" /></a>
				<a href="{{ site.requests.ci_codecov_url }}"><img src="{{ site.requests.ci_codecov_img }}" /></a>
			</p>
		</div>

		<div id="content">

			{{ content }}

		</div><!-- /container -->

		<footer id="page-footer">
			<div>
				<p>Made for you by <a href="https://rmccue.io/">Ryan McCue</a>.</p>
				<p>Code licensed under the
					<a href="{{ '/blob/master/LICENSE' | prepend: site.github.repository_url }}">ISC License</a>.</p>
			</div>
			<p><a href="#">Back to top</a></p>
		</footer>

{% include footer.html %}